/*variables color*/
.actividades, .body1 header, .body1 main h2 {
  text-align: center;
  border-style: groove;
  font-family: "Comfortaa", cursiva;
  font-size: 20px;
  background-color: rgba(105, 217, 189, 0.371);
  text-decoration: underline; }

.borde, .body1 main .borde {
  border-style: groove;
  font-weight: bold;
  color: white;
  background: rgba(116, 176, 116, 0.61);
  font-size: 20px; }

.footer, footer {
  width: 100%;
  height: 160px;
  background-color: black;
  bottom: 0;
  text-align: center; }

.redes, footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center; }

.btn-toolbar, footer {
  text-align: center;
  font-size: 25px;
  margin-top: 10px; }

.video, .body1 main .video {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  min-width: 350px; }

.body1 {
  background-image: url("../fotos/bambu fondo.jpg"); }
  .body1 nav {
    background: #3ab1b4;
    background: linear-gradient(180deg, rgba(58, 177, 180, 0.555357) 0%, rgba(51, 217, 230, 0.454517) 71%, #136b79 96%); }
    .body1 nav .nav-link {
      font-family: "Comfortaa", cursiva;
      font-size: 15px;
      justify-content: space-around;
      word-spacing: 10px; }
      .body1 nav .nav-link:hover {
        font-size: 20px;
        background: #ced5db; }
  .body1 main {
    margin: auto;
    padding: 2rem;
    text-align: center; }
    .body1 main .titular {
      font-family: "Caveat", cursive;
      color: #1a292a;
      font-size: 30px;
      border-style: groove;
      text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; }
  .body1 .f1f2 {
    margin-left: 10px;
    margin-right: 10px;
    gap: 30px; }

footer .marca {
  text-align: right;
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  margin-right: 15px; }

footer div {
  text-align: center; }

footer .youtube {
  display: flex;
  justify-content: center;
  margin-top: 15px; }

footer .iconos-sociales img {
  transition: all 0.5s ease-out;
  border-radius: 50px; }

footer .iconos-sociales img:hover {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transform: translate(0px, -10px); }

.body1 {
  background-image: url("../fotos/bambu fondo.jpg"); }
  .body1 main article .beneficios {
    margin-bottom: 5rem;
    font-family: 'Caveat', cursive;
    text-align: center;
    list-style-type: none;
    font-size: 20px; }
  .body1 main li {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: outset; }
  .body1 main .articulo_novedad {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; }
    .body1 main .articulo_novedad p {
      font-family: "Caveat", cursive;
      font-size: 30px;
      border-style: double;
      background: local rgba(69, 137, 109, 0.437);
      color: #1a292a;
      line-height: normal;
      margin-top: 20px; }
      .body1 main .articulo_novedad p:hover {
        -webkit-transform: scale(0.5s);
        transform: scale(1.05); }
    .body1 main .articulo_novedad .subt {
      text-decoration: underline;
      color: #4b5341;
      font-family: 'Caveat', cursive;
      border-style: groove;
      text-align: center; }
  .body1 main .parrafo2 {
    text-align: center;
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: #050304;
    background: #dadada5e; }
  .body1 main .swiper {
    width: 100%;
    height: 100%; }
  .body1 main .swiper-slide {
    text-align: center;
    border-radius: 5px; }

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #f4eaea;
  margin-bottom: 5px;
  margin-right: 15px; }
  footer .marca {
    text-align: right;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    margin-right: 15px; }
  footer .youtube {
    display: flex;
    justify-content: center; }

@media (min-width: 768px) and (max-width: 992px) {
  .main {
    width: 100%; } }
