
// pagina 2 PROFESORA //////
.body1{  
        
    background-image: url("../fotos/bambu\ fondo.jpg");

 nav{
      background: rgb(58,177,180);
      background: linear-gradient(180deg, rgba(58,177,180,0.5553571770505077) 0%, rgba(51,217,230,0.45451684091605393) 71%, rgba(19,107,121,1) 96%);
      
      .nav-link{
      font-family: $estilo-title;
      font-size: 20px;
      justify-content:space-around;
      word-spacing: 10px;
      font-weight: bold;
      
      &:hover{
         font-size: 20px;
         background: #ced5db;
      }
   }
 }
}