/*pagina principal */

*{  margin: 0;
    padding: 0;
    box-sizing: border-box
}
.body1{
    background: linear-gradient(to right, rgb(102, 176, 201) 10%, rgb(153, 248, 243));
    margin: auto 0;
    padding: auto 0;
}
.navbar{
    background: rgb(58,177,180);
    background: linear-gradient(180deg, rgba(58,177,180,0.5553571770505077) 0%, rgba(51,217,230,0.45451684091605393) 71%, rgba(19,107,121,1) 96%);
}
.nav-link{
    font-family: 'Comfortaa', cursiva;
    font-size: 40p;
    word-spacing: 20px;
}
.tituloprincipal{ /*titulo*/
    color: #157272e8;
    font-family:'Pacifico', cursive;
    word-spacing: 5px;
    text-align: center;
    letter-spacing: 10px;
    margin: auto 0%;
    padding-top: 3%;
    font-size: 30px;
}
.anime2{ 
    font-family:'Comfortaa', cursiva;
    font-size: 25px;
    text-align: center;
    color: rgb(13, 92, 66);
    }           
.texto{ /*texto sobre imagenes*/
    font-family:'Comfortaa', cursiva;
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
    padding: auto;
}
footer {
    padding-bottom: 20px;
    background-color: #66b0c9;
    margin-top: 100px;
    text-align: center;
    background-color: rgb(50,169,191);
    background: radial-gradient(circle, rgba(50,169,191,0.8326681014202556) 10%, rgba(50,163,167,0.8270658605238971) 92%);;
}
.grupoCards {
    justify-content: center;
    margin-top: 20px;
}
.grupoCards div {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 30px;
}
.card{
    border-radius: 10px;
}
.card:hover{
    transform:scale(1.1);
    transition: transform 3s;
}
.card{
        overflow:unset;
}    
.subtitulo2{ /*actividades*/
    color: #c246c2;
    justify-content: center;
    border-style:dotted;
}
.body2{
    margin: 5px;
    padding: 0% auto;
    background: linear-gradient(to right, rgb(102, 176, 201) 10%, rgb(153, 248, 243));
}
.container{
    text-align: center;
}
.cabecera{
    border-style:solid;
    border-color:rgb(160,63,251);
    background: radial-gradient(circle, rgba(110, 93, 128, 0.658) 4%, rgba(190, 174, 196, 0.827) 97%);
}
.subt{
    text-decoration: underline;
    color: #c42cad;
    font-family: 'Caveat', cursive;
    border-style: groove;
    text-align: center;
}
.entrenamiento{
    margin: 1rem;
}
.beneficios{
    margin-bottom: 5rem;
    font-family: 'Caveat', cursive;
    color: azure;
    text-align:center;
    list-style-type:none;
    font-size: 30px;
}
ul{
    list-style: none;
}
.borde{
    border-style: groove;
}
.articulo_novedad{
    margin: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: rgb(187,174,200);
    background: radial-gradient(circle, rgba(187,174,200,1) 4%, rgba(89,69,96,0.8270658605238971) 97%);
    color: rgb(234, 247, 201);
    text-shadow: 1px 1px rgb(102, 126, 25);
}
.h2{
    font-family: 'Caveat', cursive;
    text-align: center;
    text-decoration: underline;
    text-emphasis-color:initial;
}
.actividades{
    text-align: center;
    border-style: groove;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
.parrafo2{
    text-align: center;
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color:rgb(32, 70, 70);
}
.video{
    text-align:center;
    margin-left: auto;
    margin-right: 10px auto;
    padding: auto;
}
.video2{
    
    text-align: center;
}
.calendario{
    text-align: center;
    font-size: 20px;
}
    /* pagina cronograma*/
h3{
    text-align: center;
    font-family:'Caveat', cursive;
    padding-top: 0% auto;
    font-size: 20px;
}
.header{
    color:rgb(33, 70, 62);
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-top: 10px;
}
#main-container{
    margin:100%;
    width: 100%;
}
.tablas{
    color:rgb(20, 83, 85);
    font-family: 'Pacifico', cursive;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 30px;
    margin-left: auto 100px;
    margin-right: auto 100px;
}
.th, td{
    border:solid 1px black;
    text-align: center;
}
tr{
    text-align: center;
    border-spacing: 5rem;
}
.pago{
    text-align: center;
    border-style: groove;
    margin-top: 20px;
}
.piedepagina{
    margin-left: 100px auto;
    margin-right: 100px auto;
    text-align: center;
    width: 70%;

} /*pagina formulario contacto*/
.page5{
    margin: 0%;
    background-attachment: fixed;
}
.contact{
    margin: auto;
    width: 400px;
    background:#22c0c397;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    border-style:double;
}
 input{
     width: 60%;
     margin-bottom: 10px;
     padding: 5%;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
     font-size: 17px;
     text-align: center;
}
 label{
    display: inline-block;
    width: 80px;
}
 legend{
    font-size: 30px;
    color: #f3f0f3;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-sm-10{
    color:#4e79b3;
    margin:auto;
    text-align: center;
    color: rgb(14, 14, 26);
}
.boton1:hover{
   color: rgb(70, 70, 187); 
} 
.pago{
    text-align: center;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}
h5{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    text-align: center;
}

   

    

    



    
