     

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*pagina principal */
.body1{
    background-image: url(./fotos/bambu\ fondo.jpg);

}
.navbar{
    background: rgba(19, 59, 59, 0.925);
    background: linear-gradient(180deg, rgba(58,177,180,0.5553571770505077) 0%, rgba(51,217,230,0.45451684091605393) 71%, rgb(20, 92, 74) 96%);
}
.nav-link{
    font-family: 'Comfortaa', cursiva;
    font-size: 30p;
    word-spacing: 30px;
    font-weight: bold;
}
.nav-link:hover{
    font-size: 20px;
    background: #dadada;
}
.tituloprincipal{ /*titulo*/
    color: #0c1111e8;
    font-family:'Pacifico', cursive;
    word-spacing: 8px;
    text-align: center;
    letter-spacing: 15px;
    margin: auto 0%;
    padding-top: 3%;
    font-size: 36px;
}
.anime2{ 
    font-family:'Comfortaa', cursiva;
    font-size: 1.2em;
    text-align: center;
    color: rgb(25, 31, 29);
    font-weight: bold;
    }           
.texto{ 
    font-family:'Comfortaa', cursiva;
    font-size: 1.3em;
    margin-top: 80px;
    text-align: center;
    padding: auto;
    color: black;
    font-weight: bolder;
}
.iconos-sociales img{ 
    transition:all 0.5s ease-out; border-radius:50px;
    }
.iconos-sociales img:hover{
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform:translate(0px, -10px); 
}
.iconos-sociales{ 
    display: flex;
    justify-content: center;
}
.youtube{
    display: flex;
    justify-content:center;
}
.card{
    border-radius: 5px;
    margin-bottom: 60%;
    margin-top: 60px;
} 
.card-text{
    font-size: 1em;
}
.carousel{
    inherits: 2000;
}
.footer{
    width: 100%;
    height: 160px;
    background-color: black;
    bottom: 0;
    text-align: center;
}  
.btn-toolbar{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
.marca{
    text-align:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(244, 234, 234);
    margin-bottom: 20px;
    margin-right: 15px;
}
.maps{
    margin-left: 10px;
    display: flex;
    justify-content: left;
}

/*pagina actividades en SASS*/
             
h3{             /* pagina cronograma*/
    text-align: center;
    font-family:'Comfortaa', cursiva;
    padding-top: 0% auto;
    font-size: 20px;
    color:rgb(18, 18, 19);
    font-weight: bolder;
}
.header{
    color:rgb(9, 10, 10);
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
}
.tablas{
    color:black;
    background: #556d554f;
    font-family: 'Comfortaa', cursiva;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.2em;
}
.th, td{
    border:solid 1px white;
    text-align: center;
    font-weight: bolder;
}
.pago{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5em;
    color: black;
    font-weight: bolder;
    font-size: 20px;

}
.botonpago{
    display: flex;
    justify-content: center;
}
.piedepagina2{
    background-color: black;
    margin-left: 30px auto;
    margin-right: 30px auto;
    padding-top: 10px auto;
    text-align: center;
    width: 100%;

}           /*pagina formulario contacto*/
.contact{
    margin: auto;
    width: 350px;
    background:#22c0c397;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-style:groove;
}
.completar{
    font-size: 20px;
    font-weight: bold;
    background:rgba(48, 65, 48, 0.514);
    text-align: center;
}
 input{
     width: 50%;
     margin-bottom: 20px;
     padding: auto;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 17px;
     text-align: center;
}
.col-sm-10{
    color:#4e79b3;
    margin:auto;
    text-align: center;
    color: rgb(14, 14, 26);
}
.boton1:hover{
   color: rgb(70, 70, 187); 
}
h5{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    text-align: center;
    color: white;
}



    

    



    
