* {
  margin: 0;
  padding: 0;
}
.bodyshop {
  background: rgb(158,58,180);
  background: linear-gradient(36deg, rgba(158,58,180,0.3984944319524685) 0%, rgba(22,214,221,0.558158297498687) 50%, rgba(27,182,207,1) 100%); 
  margin: 5px;
  padding: 0% auto;
}
.navbar{
  background: rgb(58,177,180);
  background: linear-gradient(180deg, rgba(58,177,180,0.5553571770505077) 0%, rgba(51,217,230,0.45451684091605393) 71%, rgba(19,107,121,1) 96%);
}
.nav-link {
  font-family: 'Comfortaa', cursiva;
  font-size: 20px;
  justify-content: space-between;
}
h2{
  font-family: 'Comfortaa', cursiva;
  font-size: 30px;
  text-align: center;
  margin: auto;
}
h3{
  font-family: 'Comfortaa', cursiva;
  font-size: 20px;
  text-align: center;
}
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:1rem;
    font-size: 25px;
    background-color: #22c0c397;
    color: aliceblue;
    list-style-type: none;
}
.menu li {
  display: flex;
  flex-wrap:wrap; 
  text-align: center;
  display:inline-block;
}
.menu li a:hover{
  background: rgb(36, 225, 231);
  background: linear-gradient(344deg, rgba(13, 78, 80, 0.693) 28%, rgba(173,224,141,0.3383403532311362) 72%);
}
.animar {
  font-family:'Caveat', cursive;
  color: rgb(25, 95, 97);
  font-size: 30px;
  text-align: center;
  margin: 20px;
}
.card-body {
  border-style: groove;
  background-color: rgba(230, 218, 202, 0.623);
}
.card-body:hover {
  -webkit-transform: scale(1);
  transform: scale(1.1);
}

.div.contenedor {
  /*contenedor padre*/
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "header    header "
    "contenido contenido "
    "masajes extra"
    "indumentaria indumentaria";
}
.contenedor .header {
  background: rgb(165, 229, 240);
  background: radial-gradient(
    circle,
    rgba(68, 191, 214, 0.692612079011292) 28%,
    rgba(151, 204, 202, 0.40129555240064774) 94%
  );
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  
   grid-area: header;
}
.contenedor .contenido {
  /*contenido*/
  height: 100%;
  width:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(68, 191, 214);
  background: radial-gradient(
    circle,
    rgba(68, 191, 214, 0.8326681014202556) 12%,
    rgba(151, 153, 204, 0.8270658605238971) 90%
  );
  font-size: 20px;
  font-family: 'Caveat', cursive;

  grid-area: contenido;
}
.contenedor .extra {
  /*terapia alternativa =aside*/
  text-align: justify;
  border-radius: 10px;
  border-style: dotted;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  text-align: center;
  background: rgb(68, 105, 214);
  background: linear-gradient(
    90deg,
    rgba(68, 105, 214, 0.692612079011292) 28%,
    rgba(141, 224, 221, 0.6029762246695554) 77%
  );

  grid-area: extra;
}
img {
    width: 100px;
    border-style: groove;
}
.ul1 {
  list-style-type: none;
}
.lista{
    width: 100%;
    height: auto;
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    font-family: 'Caveat', cursive;
    background-color: rgb(76, 211, 216);
    background: linear-gradient(
    90deg,
    rgba(68, 209, 214, 0.692612079011292) 28%,
    rgba(173, 224, 141, 0.342472022988883) 54%
  );

}
.contenedor.masajes {
  
 grid-area: masajes;
}
.contenedor .indumentaria {
  /*footer*/
  color: rgb(12, 23, 26);
  background: rgb(12, 23, 26);
  background: radial-gradient(
    circle,
    rgba(68, 191, 214, 0.692612079011292) 66%,
    rgba(151, 153, 204, 0.8270658605238971) 94%
  );
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  height: auto;
  width: 100%;

  grid-area: indumentaria;
}
.btn {
  border-style: outset;
}
.btn:hover {
  background-color: aliceblue;
}
.btn-toolbar{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.marca{
  text-align: right;
}

@media screen and (max-width: 768px){
    .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
     "header    header"
     "contenido contenido"
     "masajes"  "extra"
     "indumentaria" "indumentaria";
    }
}

@media screen and (max-width: 480px){ 
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8 1fr);
    grid-template-areas: 
     "header"
     "header"
     "contenido"
     "contenido"
     "contenido"
     "masajes"
     "extra"
     "indumentaria";
  }
}